body {
  overflow: hidden;
}

#editor {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 900px;
}

.syntax_error {
  background-color: #AA0000;
}

#autocomplete {
  display: none;
  color: #FF4444;
  z-index: 1000;
  position: absolute;
  top: 300px;
  left: 200px;
}

.autocomplete-indent {
  style="width: 3em";
}
